@import "../../shared/styles/variables.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-paddig {
  margin-top: 15%;
}

h2{
  font: 1.5em sans-serif !important;
}

h3{
  font: 0.8em sans-serif !important;
}

#root {
  background-color: var(--backgorund-color);
}

.btn-primary{
  background-color: var(--btn-primary-color) !important;
  border: 0 !important;
}

.pointer{
  cursor: pointer;
}

.black{
  color: var(--black-color);
}

.blue{
  color: var(--blue-color);
}

.green{
  color: var(--green-color);
}

.red{
  color: var(--red-color)
}

.yellow{
  color: var(--yellow-color)
}

.black-background{
  background-color: var(--board-background-dark)
}

.black-grey-dark{
  background-color: var(--grey-dark-color)
}