@import "./variables.css";


.board{
  height: 100vh;
}

.table-class{
  border: 5px solid;
}

.closeCell {
  border-top: 3px solid var(--with-color) !important;
  border-left: 3px solid var(--with-color) !important;
  border-right: 3px solid var(--grey-dark-color) !important;
  border-bottom: 3px solid var(--grey-dark-color) !important;
  width: 100%;
  height: 100%;
  min-width: 30px;
  min-height: 30px;
  background-color: var(--grey-color);
}

.openCell {
  border: 1px solid var(--grey-dark-color) !important;
  background-color: var(--grey-color) !important;
  width: 100%;
  height: 100%;
  padding: 2px;
  min-width: 30px;
  min-height: 30px;
}