@import "./variables.css";

.login {
  min-height: 100vh;
}

.login-input-color{
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
}

.login-input-color::placeholder {
  color: var(--input-color) !important;
}

