:root {
  --backgorund-color: #f7f9f9;

  /** Inputs styles colors **/
  --input-background-color: #959595;
  --input-color: #fff;
  --btn-primary-color: #0cbfc7; 

  /** GameBoard styles colors **/
  --board-background-dark: #323232;
  --board-background-light: #505050;
  --board-color: #FFF;

  --with-color: #FFF;
  --grey-color: #bdbdbd;
  --grey-dark-color: #7b7b7b;
  --red-color: #ff0000;
  --blue-color: #0000ff;
  --green-color: #007b00;
  --black-color: #000;
  --yellow-color: #ff0;

}